<footer class="footer">
  <div class="container">
    <div>
      <a href="https://tech.lgbt/@quinnmx" rel="me">
        {% include icon.html id="mastodon" title="Mastodon" %}
        @quinnmx@tech.lgbt
      </a>
    </div>
    <div>
      <a href="https://twitter.com/pedantic_git" rel="me">
        {% include icon.html id="twitter" title="Twitter" %}
        pedantic_git
      </a>
    </div>
    <div>
      <a href="https://instagram.com/pedantic_git" rel="me">
        {% include icon.html id="instagram" title="Instagram" %}
        pedantic_git
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/quinnmx" rel="me">
        {% include icon.html id="linkedin" title="LinkedIn" %}
        quinnmx
      </a>
    </div>
    <div>
      <a href="https://github.com/pedantic-git" rel="me">
        {% include icon.html id="github" title="GitHub" %}
        pedantic-git
      </a>
    </div>
    <div>
      <a href="#top">
        Back to top
      </a>
    </div>
  </div>
</footer>
